.app_dark_theme {
  --bg-color: #0b0b58;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #2749ae;
  --inverted-secondary-color: #028cf6;
}
